@import "../index.scss";
@import "../styles/variables.scss";
@import "../styles/typography.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  border-radius: 10px;
  line-height: 72px;
  font-family: $font-family2;
  color: #DCE6F3;
  background-color: #676D75;
  cursor: pointer;

  .label {
    transform: scale(1);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease;
    }
  }
}
