@import "../index.scss";
@import "../styles/variables.scss";

.nav-container {
  align-items: center;
  padding-left: 1.5em;
  height: 5em;
  display: flex;
  z-index: 1;
  width: 100%;
  position: absolute;
  background-color: #2B2C38;
  
    .last-name {
      font-family: $font-family2;
      color: #E6E6E6;
    }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
  }
}