@import "../styles/variables.scss";
@import "../styles/typography.scss";
@import "../styles/animations.scss";

.main-page {
  padding: 240px;
  height: 100vh;
  color: #1E252E;
  background-color: #E1E9F3;
  transition: color 0.5s, background-color 0.5s;

  .hero-section-container {
    width: 40%;

    .title {
      color: #4F505C;
      font-family: $font-family2;
      transition: color 0.5s;
    }

    .name {
      color: #242446;
      transition: color 0.5s;
    }

    .bio {
      font-family: $font-family2;
    }
  }
}

.main-page-dark {
  padding: 240px;
  height: 100vh;
  color: #F0F6FD;
  background-color: #2E3946;
  animation: dark-mode 0.5s;

  .hero-section-container {
    width: 40%;

    .title {
      color: #C8C8D0;
      font-family: $font-family2;
      animation: dark-mode-title 0.5s;
    }

    .name {
      color: #C1C9D4;
      animation: dark-mode-name 0.5s;
    }

    .bio {
      font-family: $font-family2;
    }
  }
}