@import "../styles/variables.scss";
@import "../styles/typography.scss";

.main-page {
  color: black;
  background-color: white;

  .hero-section-container {

    .title {
      // color: #4F505C;
      font-family: $font-family2;
    }

    .name {
      // color: #242446;
    }

    .bio {
      font-family: $font-family2;
    }
  }
}

.main-page-dark {
  color: white;
  background-color: black;
}