@import "../styles/variables.scss";
@import "../styles/typography.scss";

.main-page {
  display: flex;
  padding-top: 280px;
  padding-left: 100px;
  height: 100vh;
  color: #1E252E;
  background-color: #E1E9F3;
  transition: color 0.5s, background-color 0.5s;

  .hero-section-container {
    width: 45%;

    .title {
      color: #4F505C;
      font-family: $font-family2;
      transition: color 0.5s;
    }

    .name {
      color: #242446;
      transition: color 0.5s;
    }

    .bio {
      font-family: $font-family2;
    }
  }
}

.main-page-dark {
  display: flex;
  padding-top: 280px;
  padding-left: 100px;
  height: 100vh;
  color: #F0F6FD;
  background-color: #2E3946;
  transition: color 0.5s, background-color 0.5s;

  .hero-section-container {
    width: 45%;

    .title {
      color: #C8C8D0;
      font-family: $font-family2;
      transition: color 0.5s;
    }

    .name {
      color: #C1C9D4;
      transition: color 0.5s;
    }

    .bio {
      font-family: $font-family2;
    }
  }
}