@import "../index.scss";
@import "../styles/variables.scss";
@import "../styles/typography.scss";

.nav-button {
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: $font-family2;
  color: #E6E6E6;
  background-color: #2B2C38;
  cursor: pointer;

  .nav-label {
    transform: scale(1);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease;
    }
  }
}
